useDynLib(cafr)
export(
	findAttractor,  #
	findGLAttractor,# 
	loadExpr,	#
	loadClin,	#
	getMI,		#
	getCorr,	#
	getAllMIWz,	#
	getAllCorWz,	#
	findCorrAttractor,	#
	attractorScanning,	#
	parAttractorScanning,	#
	attractorScanningGL,	#
	probeSummarization,	#
	createMetageneSpace,	#
	summarizeGenes,		#
	Attractor,		#
	AttractorSet,		#
	clusterAttractors
)
