useDynLib(cafr)
export(
	FindAttractor,  #
	FindGLAttractor,# 
	LoadNumericalMat,	#
	LoadTextMat,	#
	SplineMI,		#
  MIDistance,
	Corr,	#
	GetAllMIWz,	#
	GetAllCorWz,	#
	FindCorrAttractor,	#
	attractorScanning,	#
	PartialAttractorScanning,	#
	attractorScanningGL,	#
	probeSummarization,	#
	createMetageneSpace,	#
	summarizeGenes,		#
	Attractor,		#
	AttractorSet,		#
	clusterAttractors,	#
	outputAttractors,
  ExtractGeneNameTCGA,
  IsCancerTCGA,
  PairwiseCor,
  AllPairwiseCor,
  HierarchicalClustering
)
